* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* HEADER */
#header-nav {
  width: 100%;
  border-radius: 0;
  border: 0;
  background-color: #f6b319;
}

.container {
  margin: 0;
  width: 100%;
}

.navbar-brand h1 {
  text-align: left;
  font-size: 40px;
  margin-left: 30px;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951c49;
  text-align: center;
}

.navbar-brand {
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand h1 {
  /* Restaurant name */
  font-family: "Lora", serif;
  color: #5a0808;
  font-size: 1.7em;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
  padding-bottom: 20px;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -33px;
}

/* END HEADER */

/* HOME PAGE */

#home-tiles .item-text {
  background: #dddddd;
  padding: 10px;
}

#home-tiles .item-text p {
  font-size: 1.3em;
  font-weight: 400;
}

/* END OF HOME PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
  }
  .navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 7vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

  /* Home Page */
  .menu-item-description {
    text-align: center;
  }
}
